extends ../layout/index

block contenido
       input(type="hidden" name="_csrf" value=csrfToken)
       .py-10 
           h1.text-center.text-4xl.my-10.font-extrabold.text-flax Bienes
             span.font-normal.text-negro Raíces
           h2.text-center.font-extrabold.text-2xl= page

       div(class="bg-blanco shadow py-8 px-6 rounded-lg max-w-2xl mx-auto font-bold text-blanco uppercase")
             p(class= error ? 'bg-red-500': 'bg-green-500' )= msg

             if(!error)
             a(href="/auth/login/" class="text-center font-bold text-sm text-slate-600 uppercase mt-10 block") Ya puedes iniciar sesión