extends ../layout/index

block contenido 
    div 
        h2.text-center.font-extrabold.text-6xl Bienes 
           span.font-normal Raices
        
        h2.text-center.font-extrabold.text-5xl= page

        .mt-8.mx-auto.max-w-md
          .bg-white.py-8.px-4.shadow
           form.space-y-5.px-6( method="POST" action="/auth/createAccount")
            div 
               label.block.text-sm.uppercase.text-gray-600.mb-2.font-bold Nombre Completo :
               input#email.w-full.px-3.py-2.border.border-gray-300.rounded-xl.placeholder-gray-400(type="text"  placeholder="Nombre" name="nombre_usuario")
            div
               label.block.text-sm.uppercase.text-gray-600.mb-2.font-bold Correo Electronico :
               input#password.w-full.px-3.py-2.border.border-gray-300.rounded-xl.placeholder-gray-400(type="email"  placeholder="ej: usuario@dominio.com" name="correo_usuario")
            div
               label.block.text-sm.uppercase.text-gray-600.mb-2.font-bold Contraseña:
               input#password.w-full.px-3.py-2.border.border-gray-300.rounded-xl.placeholder-gray-400(type="password"  placeholder="Minimo 8 caracteres " name="password_usuario")
            div
               label.block.text-sm.uppercase.text-gray-600.mb-2.font-bold Confirma tu Contraseña:
               input#password.w-full.px-3.py-2.border.border-gray-300.rounded-xl.placeholder-gray-400(type="email"  placeholder="confirmacion" name="password2_usuario")
             
            .flex.items-center.justify-between
                a.text-gray-500.text-xs(href="/auth/login") ¿Ya tienes cuenta? , Inicia Secion
                a.text-gray-500.text-xs(href='/auth/passwordRecovery') Olvide mi Password...
            div
               input(class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer" type="submit" value="Ingresar")     