extends ../layout/index

block contenido 
    div 
        h2.text-center.font-extrabold.text-6xl= page

        .mt-8.mx-auto.max-w-md
          .bg-white.py-8.px-4.shadow
           form.space-y-5.px-6(action="")
            div 
               label.block.text-sm.uppercase.text-gray-600.mb-2.font-bold Correo Electrónico:
               input#email.w-full.px-3.py-2.border.border-gray-300.rounded-xl.placeholder-gray-400(type="email"  placeholder="ej: usuario@dominio.com" name="correo_usuario")
            div
               label.block.text-sm.uppercase.text-gray-600.mb-2.font-bold Contraseña:
               input#password.w-full.px-3.py-2.border.border-gray-300.rounded-xl.placeholder-gray-400(type="password"  placeholder="Mínimo de 8 carácteres" name="password_usuario")
             
            .flex.items-center.justify-between
                a.text-gray-500.text-xs(href="/auth/createAccount") ¿Aún no tienes cuenta? , Registrate
                a.text-gray-500.text-xs(href='/auth/passwordRecovery') Olvide mi Password...
            div
               input(class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer" type="submit" value="Ingresar")     