extends ../layout/index

block contenido
    div.py-10
        h1.text-center.font-extrabold.my-10.text-4xl.text-indigo-600 Bienes 
            span.font-normal.text-black Raíces
        h2.text-center.font-extrabold.text-2xl=page

        if errors 
            div(class="max-w-md mx-auto my-10 divide-dashed")
                    each error in errors 
                        p.bg-red-600.text-blanco.uppercase.text-xs.text-center.p-2.mb-1.border-hidden.animate-pulse= error.msg

        .mt-8.mx-auto.max-w-md
            .bg-segundo.py-8.px-4.shadow
                form( method ="POST" action="/auth/passwordRecovery").space-y-5.px-6
                    input(type="hidden" name="_csrf" value=csrfToken)
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold Email de Registro: 
                        input#email.w-full.px-3.py-2.border-2.border-gray-300.rounded-md(type="email" placeholder="Ej. usuario@paisdelasmaravillas.com" name="correo_usuario")
                    div.flex.items-center.justify-between
                        a.text-gray-500.text-xs(href="/auth/login" class="hover:underline decoration-2 hover:decoration-red-600") ¿Ya tienes cuenta? Inicia Sesión
                        a.text-gray-500.text-xs(href="/auth/createAccount" class="hover:underline decoration-2 hover:decoration-red-600") ¿No tienes cuenta? Registrate
                    input(class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer " type="submit" value="Recuperar Contraseña")