extends ../layout/index

block contenido
    div.py-10.bg-
        h1.text-center.font-extrabold.my-10.text-4xl.text-indigo-600 Bienes 
            span.font-normal.text-black Raíces
        h2.text-center.font-extrabold.text-2xl=page
        if errors 
            div(class="max-w-md mx-auto my-10 divide-dashed")
                    each error in errors 
                        p.bg-red-600.text-blanco.uppercase.text-xs.text-center.p-2.mb-1.border-hidden.animate-pulse= error.msg
        .mt-8.mx-auto.max-w-md
            .bg-segundo.py-8.px-4.shadow

                form( method= "POST" novalidate).space-y-5.px-6
                    input(type="hidden" name="_csrf" value=csrfToken)
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold Nueva Contraseña: 
                        input#password_new.w-full.px-3.py-2.border-2.border-gray-300.rounded-md(type="password" placeholder="Ingresa tu nueva contraseña" name="password_usuario_new")
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="confirm_new_password") Ingresa tu nueva contraseña:
                        input#confirm_new_password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="deberá coincidir con la anterior" type="password" name="confirm_new_password")
                    
                    div.flex.items-center.justify-between
                    input(class="w-full bg-indigo-600 hover:bg-red-700 text-white font-bold py-3 cursor-pointer" type="submit" value="Actualizar contraseña ")